{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Add a post</h1>
        <form action="/users/{{userid}}/posts/new" method="POST">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" />
            <label for="content" class="form-label">Content</label>
            <textarea name="content" class="form-control"></textarea>
            <button class="btn btn-secondary"><a href="/users/{{userid}}">Cancel</a></button>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
</div>
{% endblock %}