{% extends 'base.html' %}

{% block title %}Add User{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Create a User</h1>
        <form action="/users/new" method="POST">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" name="firstName" class="form-control" />
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" name="lastName" class="form-control" />
            <label for="imageURL" class="form-label">Image URL</label>
            <textarea type="URL" name="imageURL" class="form-control"></textarea>
            <button class="btn btn-secondary"><a href="/users">Cancel</a></button>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
</div>
{% endblock %}