{% extends 'base.html' %}

{% block title %}User Details{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-2">
            <img src="{{user.image_url}}">
        </div>
        <div class="col">
            <h1>{{full_name}}</h1>
            <button class="btn btn-primary"><a href="/users/{{user.id}}/edit">Edit</a></button>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button class="btn btn-danger ">Delete</button>
            </form>

            <div class="row">
                <div class="col">
                    <h2>Posts</h2>
                    <ul>
                        {% for p in posts %}
                        <li><a class="userLinks" href="/posts/{{p.id}}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <button class="btn btn-primary"><a href="/users/{{user.id}}/posts/new">Add Post</a></button>
                </div>
            </div>

        </div>
    </div>
</div>




{% endblock %}